  * { 
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
:root {
  --font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-secondary: "Playfair Display", serif; /* optional for special text */
}
body {
  font-family: var(--font-primary);
}
.nav-bar-about {
  background: rgb(241, 241, 243);
  color: #000;  
  padding: 12px 40px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-icon {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.nav-bar-box ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-bar-box li {
  /* color: #fff; */
  font-size: 15px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.nav-bar-box li:hover {
  color: #8f8585;
  
  transform: translateY(-3px);
}
.nav-bar-box li:active{
  transform: scale(0.9S);
}
/* Remove default link styles */
.nav-bar-about a {
  color: inherit;           /* take color from parent */
  text-decoration: none;    /* remove underline */
}

/* Ensure li elements still look clean */
.nav-bar-about li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
}

.Side-btton {
  background-color: #fff;
 
  border-radius: 20px;
  padding: 8px 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Side-btton:hover {
background-color: #ece6f2;
transform: translateY( 5px);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
/* Click (Active) Effect */
.Side-btton:active {
transform: scale(0.96);

}

/* ------------------ Hamburger Icon ------------------ */
.hamburger {
  display: none;
  cursor: pointer;
  gap: 5px;
  /* user-select: none; */
}



/* Responce of tablate  */

@media (max-width:780px){
  .nav-bar-box ul{
    display:none; 
  }
  .nav-bar-box ul.show {
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: background-color 0.3s ease;
      
    } 
  
    .nav-bar-box ul.show li {
      opacity: 0;
      transform: translateY(-10px);
      animation: fadeInSlide 0.4s ease forwards;
    }
    .nav-bar-box ul.show li:nth-child(2) { animation-delay: 0.1s; }
    .nav-bar-box ul.show li:nth-child(3) { animation-delay: 0.2s; }
    .nav-bar-box ul.show li:nth-child(4) { animation-delay: 0.3s; }
    .nav-bar-box ul.show li:nth-child(5) { animation-delay: 0.4s; }

    @keyframes fadeInSlide {
      to {
        opacity: 4;
        transform: translateY(20);
      }
    }
  .hamburger{
     display: block;
     padding-left: 65%; 
  }

}

/* Responsive for phone */
@media (max-width:480px){
  .nav-bar-about ul{
    display:none;
    flex-direction: column;
  }
  
}