/* ===== About Section ===== */
.about-section {
  width: 100%;
  background-color: #ffffff;
  color: #070606;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
}

/* Container for image + text */
.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  gap: 50px;

   /* Initial hidden state */
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}


/* When scrolled into view */
.about-container.show {
  opacity: 1;
  transform: translateY(0);
}


/* Left side - image */
.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(255, 2, 2, 0.4);
  transition: transform 0.5s ease, box-shadow 0.5s ease;

}
.about-image img:hover {
  transform: scale(0.96);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}

/* Right side - text */
.about-content {
  flex: 1;
 
}
.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #e0b0ff;
}
.about-content p {
 
  font-size: 1.1rem;
  line-height: 1.7;
  color: #0c0b0b;
  margin-bottom: 1rem;
  transition: transform 0.8s ease, box-shadow 0.8s ease;
}
.about-btn {
  background-color: #e0b0ff;
  color: #111;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
.about-btn:hover {
  background-color: #fff;
  color: #111;
  transform: scale(1.05);
}

/* ===== Responsive Design ===== */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
  .about-image img {
   
    max-width: 300px;
  }
  .about-content h2 {
    
    font-size: 2rem;
  }
  .about-content p {
    margin: 40px;
    font-size: 1rem;
    border: 3px soild black;
  }
}
